body {
    text-align: center;
}


.form-control {
    width: 60px;
    display: inline-block;
    margin: auto;
    border: 2px solid black;
}

#mathtypeselector {
    display: inline-block;
    width:fit-content;
    margin-right: 20px;
}


#mathcanvas {
    margin: 5px;
    border: 1px solid black;
}

.xyinput, .linearinput, .quadraticinput, .exponentialinput, .logarithmicinput{
    display: inline-block;
}


#inputX, #inputY {
    margin-right: 10px;
}

.visible {
    display: inline-block;
}

.invisible {
    display: none;
}